body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: RosyBrown;
    color: white
}
h2, h3, h4, h5, h6 {
    font-family: 'Lilita One', cursive;
    color: RosyBrown;
}
.dash-container{
    padding: 0 20px;
}

/* Header */
.header{
    margin: 20px 0 10px;
    display: inline-block;
}
.header h1 {
    font-family: 'Lilita One', cursive;
    color: white;
}
.header i{
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    margin-top: -15px;
    vertical-align: middle;
}

/* Content */
.content{
    color: RosyBrown;
}
.content .tab{
    border-radius: 10px 10px 0 0;
}
.content .tab--selected{
    border-top-color: RosyBrown !important;
    color: RosyBrown !important;
}
.content .tab-content{
    padding: 0 10px 10px;
    background-color: white;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: auto;
    height: calc(100vh - 200px);
}
.content .filters{
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background-color: SeaShell;
}
.content .filters label{
    margin-right: 10px;
}
.content .filters label input{
    margin-right: 5px;
}
.content .filters .dash-dropdown{
    color: RosyBrown !important;
    padding-bottom: 5px;
}
.content .measure-filter{
    background-color: RosyBrown;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 25px;
    text-align: right;
    float: right;
    position: relative;
    z-index: 1000;
    display: inline;
}
.content .measure-filter label{
    display: inline;
    padding-left: 10px;
}
.content .measure-filter label input{
    margin-right: 5px;
}
.content .logo{
    position: fixed;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 60px;
}
.content .logo2{
    position: fixed;
    top: 15px;
    right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 60px;
}

/* Footer */
.footer{
    color: SeaShell;
}
.footer a{
    color: Lavender;
}